<button id="js-toggle-panel--left" class="button--left">Filter</button>

<aside class="panel panel--left">
    <ul class="list">
        <li><a href="#" class="filterItem">Kreuzberg</a></li>
        <li><a href="#" class="filterItem">Mitte</a></li>
        <li><a href="#" class="filterItem">Friedrichshain</a></li>
    </ul>
</aside>