<article class="view view--detail">
	<h1><%= estate.get("title") %></h1>
	<p>
		<%= estate.get("price") %> € <br>
		<%= estate.get("size") %> sqm<br>
		<%= estate.get("rooms") %> rooms
	</p>
</article>