<aside class="panel--left">
	<h2>Filters</h2>
	<div class="panel-neighborhood">
		<h3>Neighborhood</h3>
		<input type="checkbox" value="Kreuzberg" id="neighborhood_1"><label for="neighborhood_1">Kreuzberg</label><br>
		<input type="checkbox" value="Mitte" id="neighborhood_2"><label for="neighborhood_2">Mitte</label><br>
		<input type="checkbox" value="Friedrichshain" id="neighborhood_3"><label for="neighborhood_3">Friedrichshain</label><br>
	</div>
	<div>
		<h3>Price</h3>
		<input type="range">
	</div>
	<div>
		<h3>Rooms</h3>
		<input type="range">
	</div>
	<div>
		<h3>Floor</h3>
	</div>
	<div>
		<h3>More</h3>
	</div>
</aside>