/* Base */
* {
	@include box-sizing(border-box);
}

html {
	font-size: $base-font-size;
	font-family: $font-family;
	color: black;
}
body {
	margin: 0;
	background: darken(#fff,5%);
	overflow-x: hidden;
}
h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
	margin: 0 0 (20/24)*1em;
}
h3 {
	font-size: 1.25rem;
	margin: 0 0 (20/20)*1em;	
}
p {
	margin: 0 0 $gutter;
}
table {
	width: 100%;
}
th {
	text-align: left;
	border-bottom: 1px solid darken(#fff,5%);
}
a {
	color: $primary-color;
	&:hover {
		color: lighten($primary-color, 15%);
	}
	&:visited {
		color: lighten($primary-color, 20%);
	}
}
figure {
	margin: 0;
}
img {
	max-width: 100%;
}