/* Base */
* {
	@include box-sizing(border-box);
}

html {
	font-size: 16px;
	font-family: sans-serif;
	color: black;
}
body {
	margin: 0;
	background: #ccc;
	overflow-x: hidden;
}
h1 {
	font-size: 1.5em;
	font-size: 1.5em;
	text-transform: uppercase;
}
button {
	@include transition(background-color 100ms ease-in-out);
	font-size: 100%;
	text-transform: uppercase;
	background: none;
	padding: .75em 1em .7em;
	border: 3px solid white;
	color: white;
	font-weight: bold;
	letter-spacing: 0.18em;
	cursor: pointer;
	&:hover {
		background-color: rgba(#fff,0.3);
	}
}
table {
	width: 100%;
}