.button,
.button-group {
}
.button {
	@include transition(all 50ms ease-in-out);
	border: (3/11)*1em solid white;
	font-size: .6875rem;
	padding: .75em 1em .7em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	border-color: #fff;
	background-color: $primary;
	color: #fff;
	&:hover {
		background-color: lighten($primary,20%);
		border-color: $primary;
		color: #fff;
	}
	&.active {
		@include transform(scale(0.95));
	}
}
.button--circle {
	@include transition(all 200ms);
	@include scale(1);
	width: 3em;
	height: 3em;
	padding: 0 0 0 3px;
	border-radius: 50%;
	&:hover {
		@include scale(1.1);
	}
}
.button.success {
	&.is-active,
	&:hover {
		background-color: $color-success;
	}	
}
.button.danger {
	&.is-active,
	&:hover {
		background-color: $color-danger;
	}	
}
[role="header"] .button.is-active {
	opacity: 0.5;
}


.button-group {
	border: (3/$base-font-size-unitless)*1em solid #fff;
	.button {
		border: 0;
	}
	.button:not(:first-child) {
		margin: (3/$base-font-size-unitless)*1em 0 (3/$base-font-size-unitless)*1em (8/$base-font-size-unitless)*-1em;
		border-left: 0;
	}
}