.button {
	@include transition(
		background-color 50ms ease-in-out,
		border-color 200ms ease-in-out,
		-webkit-scale 200ms,
		-moz-scale 200ms,
		scale 200ms
	);
	font-size: .6875rem;
	padding: .75em 1em .7em;
	border: 3px solid white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	border-color: #fff;
	background-color: $primary;
	color: #fff;
	&:hover {
		background-color: lighten($primary,20%);
		border-color: $primary;
	}
	&.active {
		@include transform(scale(0.95));
	}
}
.button--circle {
	width: 3em;
	height: 3em;
	padding: 0 0 0 3px;
	border-radius: 50%;
	text-align: center;
	&:hover {
		color: #F00;
	}
}
.button.success {
	&.is-active,
	&:hover {
		background-color: $color-success;
		color: #fff;
	}	
}
.button.danger {
	&.is-active,
	&:hover {
		background-color: $color-danger;
		color: #fff;
	}	
}

button {
	@extend .button;
}
[role="header"] .button.is-active {
	opacity: 0.5;
}