// Colors
$font-color: #000;
$primary: rgb(120, 220, 60); // red
$primary: rgb(210, 50, 60); // green
$primary: rgb(40, 40, 255); // blue
$primary: rgb(40, 40, 255); // snap!
$secondary: complement($primary);

$primary--dark: darken($primary, 40%);
$lightgray: darken(complement($font-color),10%);
$color-success: lighten(green, 10%);
$color-danger: red;

// Typography
$base-font-size: 16px;
$base-font-size-unitless: 16;
$font-family: 'Helvetica Neue', Helvetica, sans-serif;

// Layout
$gutter: (20/$base-font-size-unitless) * 1em;