
/* Buttons */
.button--left {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 30;
	letter-spacing: -40px;
	overflow: hidden;

	font-size: 1rem;
	background: none;
	color: white;
}


// Navigation header
.nav-header {
	position: fixed;
	top: 0;
	width: 100%;
	background: $darkblue;
	color: white;
	text-align: center;
	z-index: 20;
}

/* -----important! aka role=main -----*/
[role="main"],
.panel--left {
	@include transition-timing-function(cubic-bezier(0, 1, 0.02, 1));
	@include transition(all 200ms ease-in-out);
}
[role="main"] {
	position: absolute;
	top: 61px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}
.entry-list {
	background: #fff;
	margin: 2em;
	padding: 1em;
}
.entry-list__item {
	td {
		border-bottom: 1px solid darken(#fff,8%);
	}
	&:last-child td {
		border-bottom: 0;
	}
	td:first-child {
		border-left: 5px solid transparent;
	}
	&:hover td:first-child {
		border-color: $darkblue;
	}
}

/* Left panel -> Filter */
.panel--left {
	@include transform(translateX(-100%));
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 1;
	padding: 1em;
	width: 80%;
	height: 100%;
	background: rgb(238, 98, 98);
	
}
.panel-is-active--left {
	.panel--left {
		@include transform(translateX(0));
	}
	[role="main"] {
		@include transform(translateX(80%));
	}
}
.panel-neighborhood input[type=checkbox] {
	margin-right: .5em;
}


/* Content */
.entry-list {
}


/* Table formating */
.table-wishlist {
	width: 4%;
}
.table-thumbnail {
	width: 14%;
}
.table-thumbnail img {
	width: 100%;
}
.table-price {
	width: 12%;
}


/* ------Footer -------*/
[role="footer"] {
	font-size: 0.6em;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	opacity: 0.6;
	text-transform: uppercase;
	font-weight: bold;
	background: white;
}
footer li:first-child {
	color: gray;
}
.nav-footer {
	list-style: none;
	padding: 0;
}
.nav-footer li {
	display: inline;
	padding: 1em 0 1em 1em;
}


/* Media Queries */
@media screen and (min-width: 600px) {
	.panel-is-active--left [role="main"] {
		@include transform(translateX(30%));
	}
	.panel--left {
		width: 30%;
	}
	.button--left {
		letter-spacing: 0;
	}
}