// ============================================================================
// Views
.view {
	@include pie-clearfix;
	list-style: none;
	padding: 0;
}
.view__item {
	@include transition(padding-left 50ms ease-in-out);
	position: relative;
	
	> a {
		display: block;
		padding: $gutter 0;
		text-decoration: none;
		&:hover {
			.title {
				text-decoration: underline;
			}
		}
	}
	p {
		color: #000;
		margin-bottom: 0;
	}
}

// Grid view
.view--grid {
	img {
		width: 100%;
	}
	h3 {
		margin-bottom: 0;
	}
	.view__item {
		float: left;
		width: 20%;
		margin-right: $gutter;
	}
}

// List view
.view--list {
	.view__item {
		@include pie-clearfix;
		border-bottom: 1px solid $lightgray;
	}
	img {
		max-height: 3.1em;
	}
	figure {
		float: left;
		margin: 0 $gutter $gutter 0;
	}
	.title {
		margin: 0;
	}
	.actions {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -(33px / 2);
	}
}
.is-loved {
	padding-left: $gutter;
	.view__body {
		opacity: 0.5;
	}
}