/* Base */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: sans-serif;
	color: black;
}
html,body,aside,section {
	height: 100%;
}
body {
	overflow-x: hidden;
}
.site-title {
	font-size: 3.4em;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	position: fixed;
	top: -0.43em;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 5;
}

/* Buttons */
button {
	font-size: 100%;
	text-transform: uppercase;
	background: none;
	padding: 1em 1em 0.9em;
	border: 3px solid white;
	color: white;
	font-weight: bold;
	letter-spacing: 0.18em;
}
.button--left {
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: 10;
}
.button--right {
	position: fixed;
	top: 1em;
	right: 1em;
	z-index: 10;
}

/* Layout */
section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	
	background: #dedede;
}
section,
.panel {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	-webkit-transition-timing-function: cubic-bezier(0.000, 1.000, 0.020, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.000, 1.000, 0.020, 1.000);
	-o-transition-timing-function: cubic-bezier(0.000, 1.000, 0.020, 1.000);
	-ms-transition-timing-function: cubic-bezier(0.000, 1.000, 0.020, 1.000);
	transition-timing-function: cubic-bezier(0.000, 1.000, 0.020, 1.000);
}

/* Panels */
.panel {
	position: fixed;
	z-index: 5;
	width: 30%;
	opacity: 1;
	padding: 5em 1em 1em;
	background: gray;
}

/* Left panel*/
.panel--left {
	left: 0;
	top: 0;

	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	z-index: 3;
}
/* RIGHT panel*/
.panel--right {
	right: 0;
	top: 0;
	z-index: 3;
	width: 10em;
	/*transform:  translateX(100%); */
}


/* panel LEFT active  */
/*
.panel-is-active--left .panel--left {
	-webkit-transform: translateX(0em);
	-moz-transform: translateX(0em);
	-o-transform: translateX(0em);
	-ms-transform: translateX(0em);
	transform: translateX(0em);
}
*/
.panel-is-active--left section {
	-webkit-transform: translateX(30%);
	-moz-transform: translateX(30%);
	-o-transform: translateX(30%);
	-ms-transform: translateX(30%);
	transform: translateX(30%);
}


/* panel RIGHT active*/
.panel-is-active--right .panel--right {
	/*transform:  translateX(0em); */
}
.panel-is-active--right section {
	-webkit-transform: translateX(-10em);
	-moz-transform: translateX(-10em);
	-o-transform: translateX(-10em);
	-ms-transform: translateX(-10em);
	transform: translateX(-10em);
}
.panel-is-active--left #js-toggle-panel--left,
.panel-is-active--right #js-toggle-panel--right {
	background: url(https://dl.dropbox.com/u/638306/x.svg) 0 0 no-repeat;

	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}


/* Footer */
footer {
	font-size: 0.6em;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	opacity: 0.6;
	text-transform: uppercase;
	font-weight: bold;
	background: white;
}
footer li:first-child {
	color: gray;
}



/* Navigation */
.nav {
	list-style: none;
	padding: 0;
}
.nav li {
	display: inline;
	padding: 1em 0em 1em 1em;
}


/* List */
.list {
	color: white;
	font-size: 0.6em;
	list-style: none;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
	width: 45%;
}
.list li {
	border-top: 1px solid white;
	border-bottom: none;
	padding: 0.5em 0;
}
.list li:last-child {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.input-newsletter {
	width: 100%;
}
.panel--right .list {
	float: right;
}




/* steve crumpy kacky styles */

#main {
	width: 80%;
	margin: 100px auto;
}