/* Base */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: sans-serif;
	color: black;
}
body {
	overflow-x: hidden;
	background: #ccc;
}
h1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}
/* Buttons */
button {
	font-size: 100%;
	text-transform: uppercase;
	background: none;
	padding: 1em 1.5em 0.9em 1em;
	border: 3px solid white;
	color: white;
	font-weight: bold;
	letter-spacing: 0.18em;
}
.button--left {
	position: fixed;
	top: 1em;
	left: 1em;
	z-index: 30;
	letter-spacing: -40px;
	overflow: hidden;
	transition: all 1s ease-in-out;
}
/* -------- Navigation Header -------- */
.nav-header {
	position: fixed;
	top: 0;
	width: 100%;
	background: black;
	color: white;
	text-align: center;
	height: 5em; 
	z-index: 20;
}
/* ----- important! aka role=main ----- */
.container {
	transition: all 1s ease-in-out;
	transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
}
/* Layout */
section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transition-timing-function: cubic-bezier(0.000, 1.000, 0.020, 1.000);
	transition-timing-function: cubic-bezier(0.000, 1.000, 0.020, 1.000);
}
/* Left panel -> Filter */
.panel--left {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: 1;
	padding: 5em 1em 1em;
	width: 80%;
	height: 100%;
	padding-left: 2em;
	background: #666;
	transform: translateX(-100%);
	transition: all 1s ease-in-out;
	transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
	-webkit-transform: translateX(-100%);
	-webkit-transition: all 1s ease-in-out;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
}
.panel-is-active--left .container {
	-webkit-transform: translateX(80%);
	transform: translateX(80%);
}
.panel-is-active--left .panel--left {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
.panel-neighborhood input[type=checkbox] {
	margin-right: .5em;
}
/* Content */
.entry-list {
	height: 100%; 
	margin-top: 5em;
}
/* Table formating */
table {
	width: 95%;
	border-bottom: 1px solid black;
	margin: 0 auto;
	margin-top: 1em;
}

.table-whishlist {
	width: 4%;
}

.table-thumbnail {
	width: 14%;
}

.table-thumbnail img {
	width: 100%;
}

.table-price {
	width: 12%;
}

/* ------ Footer ------- */
footer {
	font-size: 0.6em;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	opacity: 0.6;
	text-transform: uppercase;
	font-weight: bold;
	background: white;
}
footer li:first-child {
	color: gray;
}
.nav-footer {
	list-style: none;
	padding: 0;
}
.nav-footer li {
	display: inline;
	padding: 1em 0em 1em 1em;
}
/* Media Queries */
@media screen and (min-width: 520px) {
	.panel-is-active--left .container {
		-webkit-transform: translateX(30%);
		transform: translateX(30%);
	}
	.panel--left {
		width: 30%;
	}
	.button--left {
		letter-spacing: 0px;
	}

}











