/*
	HELLO UNREAL ESTATE
*/
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.5/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Base */
/* line 2, ../../app/styles/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../../app/styles/_base.scss */
html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: black;
}

/* line 11, ../../app/styles/_base.scss */
body {
  margin: 0;
  background: #f2f2f2;
  overflow-x: hidden;
}

/* line 16, ../../app/styles/_base.scss */
h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 0.83333em;
}

/* line 21, ../../app/styles/_base.scss */
h3 {
  font-size: 1.25rem;
  margin: 0 0 1em;
}

/* line 25, ../../app/styles/_base.scss */
p {
  margin: 0 0 1.25em;
}

/* line 28, ../../app/styles/_base.scss */
table {
  width: 100%;
}

/* line 31, ../../app/styles/_base.scss */
th {
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
}

/* line 35, ../../app/styles/_base.scss */
a {
  color: #2828ff;
}
/* line 37, ../../app/styles/_base.scss */
a:hover {
  color: #7474ff;
}
/* line 40, ../../app/styles/_base.scss */
a:visited {
  color: #8e8eff;
}

/* line 44, ../../app/styles/_base.scss */
figure {
  margin: 0;
}

/* line 47, ../../app/styles/_base.scss */
img {
  max-width: 100%;
}

/* line 1, ../../app/styles/_buttons.scss */
.button, button {
  -webkit-transition: background-color 50ms ease-in-out, border-color 200ms ease-in-out, -webkit-scale 200ms, -moz-scale 200ms, scale 200ms;
  -moz-transition: background-color 50ms ease-in-out, border-color 200ms ease-in-out, -webkit-scale 200ms, -moz-scale 200ms, scale 200ms;
  -o-transition: background-color 50ms ease-in-out, border-color 200ms ease-in-out, -webkit-scale 200ms, -moz-scale 200ms, scale 200ms;
  transition: background-color 50ms ease-in-out, border-color 200ms ease-in-out, -webkit-scale 200ms, -moz-scale 200ms, scale 200ms;
  font-size: .6875rem;
  padding: 0.75em 1em 0.7em;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  border-color: #fff;
  background-color: #2828ff;
  color: #fff;
}
/* line 19, ../../app/styles/_buttons.scss */
.button:hover, button:hover {
  background-color: #8e8eff;
  border-color: #2828ff;
}
/* line 23, ../../app/styles/_buttons.scss */
.button.active, button.active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

/* line 27, ../../app/styles/_buttons.scss */
.button--circle {
  width: 3em;
  height: 3em;
  padding: 0 0 0 3px;
  border-radius: 50%;
  text-align: center;
}
/* line 33, ../../app/styles/_buttons.scss */
.button--circle:hover {
  color: #F00;
}

/* line 39, ../../app/styles/_buttons.scss */
.button.success.is-active, button.success.is-active, .button.success:hover, button.success:hover {
  background-color: #00b300;
  color: #fff;
}

/* line 46, ../../app/styles/_buttons.scss */
.button.danger.is-active, button.danger.is-active, .button.danger:hover, button.danger:hover {
  background-color: red;
  color: #fff;
}

/* line 55, ../../app/styles/_buttons.scss */
[role="header"] .button.is-active, [role="header"] button.is-active {
  opacity: 0.5;
}

/* line 3, ../../app/styles/_layout.scss */
.button--left,
.view-mode {
  position: fixed;
  top: 5px;
  z-index: 5;
}

/* line 8, ../../app/styles/_layout.scss */
.button--left {
  left: 5px;
}

/* line 11, ../../app/styles/_layout.scss */
.view-mode {
  right: 5px;
}

/* line 15, ../../app/styles/_layout.scss */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 4;
  min-height: 49px;
  background: #00005b;
  color: white;
}
/* line 24, ../../app/styles/_layout.scss */
.header .site-title {
  margin: 0.45833em 0 0;
}

/* line 29, ../../app/styles/_layout.scss */
[role="main"],
.panel--left {
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* line 33, ../../app/styles/_layout.scss */
[role="main"] {
  margin: 69px 1.25em 1.25em;
  background: #fff;
  padding: 1em;
}

/* Left panel -> Filter */
/* line 41, ../../app/styles/_layout.scss */
.panel--left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 49px;
  z-index: -1;
  opacity: 1;
  padding: 1em;
  width: 90%;
  height: 100%;
  background: #ee6262;
}

/* line 55, ../../app/styles/_layout.scss */
.panel-is-active--left .panel--left {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 58, ../../app/styles/_layout.scss */
.panel-is-active--left [role="main"] {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* line 62, ../../app/styles/_layout.scss */
.panel-neighborhood input[type=checkbox] {
  margin-right: .5em;
}

/* Media Queries */
@media screen and (min-width: 35em) {
  /* line 96, ../../app/styles/_layout.scss */
  .panel--left {
    width: 13.75em;
  }

  /* line 99, ../../app/styles/_layout.scss */
  .panel-is-active--left [role="main"] {
    -webkit-transform: translateX(13.75em);
    -moz-transform: translateX(13.75em);
    -ms-transform: translateX(13.75em);
    -o-transform: translateX(13.75em);
    transform: translateX(13.75em);
  }
}
/* line 105, ../../app/styles/_layout.scss */
.loading {
  position: absolute;
  display: block;
  left: 50%;
  width: 100px;
  text-align: center;
  top: 35%;
  margin-left: -50px;
}

/* line 1, ../../app/styles/_modules.scss */
[role="header"] button {
  background-color: #00005b;
}

/* line 3, ../../app/styles/_views.scss */
.view {
  *zoom: 1;
  list-style: none;
  padding: 0;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, ../../app/styles/_views.scss */
.view__item {
  position: relative;
  -webkit-transition: padding-left 50ms ease-in-out;
  -moz-transition: padding-left 50ms ease-in-out;
  -o-transition: padding-left 50ms ease-in-out;
  transition: padding-left 50ms ease-in-out;
}
/* line 12, ../../app/styles/_views.scss */
.view__item > a {
  display: block;
  text-decoration: none;
}
/* line 16, ../../app/styles/_views.scss */
.view__item p {
  color: #000;
}

/* line 23, ../../app/styles/_views.scss */
.view--grid img {
  width: 100%;
}
/* line 26, ../../app/styles/_views.scss */
.view--grid h3 {
  display: none;
}
/* line 29, ../../app/styles/_views.scss */
.view--grid .view__item {
  float: left;
  width: 20%;
  margin-right: 1.25em;
}

/* line 38, ../../app/styles/_views.scss */
.view--list .view__item {
  *zoom: 1;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1.25em;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.view--list .view__item:after {
  content: "";
  display: table;
  clear: both;
}
/* line 43, ../../app/styles/_views.scss */
.view--list figure {
  float: left;
  margin: 0 1.25em 1.25em 0;
}
/* line 47, ../../app/styles/_views.scss */
.view--list .title {
  margin: 0;
}
/* line 50, ../../app/styles/_views.scss */
.view--list .actions {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 56, ../../app/styles/_views.scss */
.is-loved {
  padding-left: 1.25em;
}
/* line 58, ../../app/styles/_views.scss */
.is-loved .view__body {
  opacity: 0.5;
}
