/*
	HELLO UNREAL ESTATE
*/
/* line 14, ../../../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.5/sass/susy/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Base */
/* line 2, ../../app/styles/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../../app/styles/_base.scss */
html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: black;
}

/* line 11, ../../app/styles/_base.scss */
body {
  margin: 0;
  background: #f2f2f2;
  overflow-x: hidden;
}

/* line 16, ../../app/styles/_base.scss */
h1 {
  font-size: 1.5em;
  font-size: 1.5em;
  text-transform: uppercase;
}

/* line 21, ../../app/styles/_base.scss */
button {
  -webkit-transition: background-color 50ms ease-in-out;
  -moz-transition: background-color 50ms ease-in-out;
  -ms-transition: background-color 50ms ease-in-out;
  -o-transition: background-color 50ms ease-in-out;
  transition: background-color 50ms ease-in-out;
  font-size: .6875rem;
  padding: 0.75em 1em 0.7em;
  border: 3px solid white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  border-color: #fff;
  background-color: #2828ff;
  color: #fff;
}
/* line 33, ../../app/styles/_base.scss */
button:hover {
  background-color: #8e8eff;
  border-color: #2828ff;
}

/* line 38, ../../app/styles/_base.scss */
table {
  width: 100%;
}

/* line 41, ../../app/styles/_base.scss */
th {
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
}

/* line 45, ../../app/styles/_base.scss */
a {
  color: #2828ff;
}
/* line 47, ../../app/styles/_base.scss */
a:hover {
  color: #7474ff;
}
/* line 50, ../../app/styles/_base.scss */
a:visited {
  color: #8e8eff;
}

/* Buttons */
/* line 3, ../../app/styles/_modules.scss */
.button--left {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 30;
  letter-spacing: -40px;
  overflow: hidden;
  font-size: 1rem;
  background: none;
  color: white;
}

/* line 18, ../../app/styles/_modules.scss */
.nav-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #2b3152;
  color: white;
  text-align: center;
  z-index: 20;
}

/* -----important! aka role=main -----*/
/* line 30, ../../app/styles/_modules.scss */
[role="main"],
.panel--left {
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  -ms-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.02, 1);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* line 34, ../../app/styles/_modules.scss */
[role="main"] {
  position: absolute;
  top: 61px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* line 42, ../../app/styles/_modules.scss */
.entry-list {
  background: #fff;
  margin: 2em;
  padding: 1em;
}

/* line 48, ../../app/styles/_modules.scss */
.entry-list__item td {
  border-bottom: 1px solid #ebebeb;
}
/* line 51, ../../app/styles/_modules.scss */
.entry-list__item:last-child td {
  border-bottom: 0;
}
/* line 54, ../../app/styles/_modules.scss */
.entry-list__item td:first-child {
  border-left: 5px solid transparent;
}
/* line 57, ../../app/styles/_modules.scss */
.entry-list__item:hover td:first-child {
  border-color: #2b3152;
}

/* Left panel -> Filter */
/* line 63, ../../app/styles/_modules.scss */
.panel--left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 1;
  padding: 1em;
  width: 80%;
  height: 100%;
  background: #ee6262;
}

/* line 77, ../../app/styles/_modules.scss */
.panel-is-active--left .panel--left {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
/* line 80, ../../app/styles/_modules.scss */
.panel-is-active--left [role="main"] {
  -webkit-transform: translateX(80%);
  -moz-transform: translateX(80%);
  -ms-transform: translateX(80%);
  -o-transform: translateX(80%);
  transform: translateX(80%);
}

/* line 84, ../../app/styles/_modules.scss */
.panel-neighborhood input[type=checkbox] {
  margin-right: .5em;
}

/* Content */
/* Table formating */
/* line 95, ../../app/styles/_modules.scss */
.table-wishlist {
  width: 4%;
}

/* line 98, ../../app/styles/_modules.scss */
.table-thumbnail {
  width: 14%;
}

/* line 101, ../../app/styles/_modules.scss */
.table-thumbnail img {
  width: 100%;
}

/* line 104, ../../app/styles/_modules.scss */
.table-price {
  width: 12%;
}

/* ------Footer -------*/
/* line 110, ../../app/styles/_modules.scss */
[role="footer"] {
  font-size: 0.6em;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
}

/* line 122, ../../app/styles/_modules.scss */
footer li:first-child {
  color: gray;
}

/* line 125, ../../app/styles/_modules.scss */
.nav-footer {
  list-style: none;
  padding: 0;
}

/* line 129, ../../app/styles/_modules.scss */
.nav-footer li {
  display: inline;
  padding: 1em 0 1em 1em;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  /* line 137, ../../app/styles/_modules.scss */
  .panel-is-active--left [role="main"] {
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
    transform: translateX(30%);
  }

  /* line 140, ../../app/styles/_modules.scss */
  .panel--left {
    width: 30%;
  }

  /* line 143, ../../app/styles/_modules.scss */
  .button--left {
    letter-spacing: 0;
  }
}
/* line 20, ../../app/styles/style.scss */
.circle {
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  padding: 0px 0px 0 3px;
  border-radius: 20px;
  float: left;
}

/* line 28, ../../app/styles/style.scss */
.circle:hover {
  color: #F00;
}
